html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.2px;
  /* center content on big screens */
  max-width: 1360px;
  margin: 0 auto;
}

header {
  padding: 41px 80px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

svg {
  cursor: pointer;
}

footer {
  display: flex;
  padding: 95px 80px;
}