---
layout: default
---

{% include header.html
  bold-desc="Front End Web Developer based in Long Beach, California."
  description="I strive to develop happy and joyful experiences by making designs come to life." %}

<section class="bio">
  <div class="bio__title-container">
    <p class="bio__title">
      About Me
    </p>
  </div>
  <div class="about-content">
    <section>
      <div class="about">
        <h2 class="about__title">My Journey</h2>

        <h3 class="about__description">
          I am a passionate bilingual Front End Web developer that likes to push the limits of
          web techonologies. Being able to use my skillset to solve diffcult problems
          is very rewarding.
        </h3>

        <p class="about__description--2">
          Over the pass couple years of learning I have had the pleasure
          of working in teams with other developers, and being able to solve problems
          that I wouldn't even of phantom if I never touched code.
        </p>
      </div>
    </section>

    <section class="about-records">
      <h3 class="about-records__title">
        Stuff I can do
      </h3>
      <div class="description">
        <div class="description__contain">
          <h4 class="description__title">Websites</h4>

          <p class="description__content">
            I can develop website with BEM methodology, use version control in a team setting and deploy websites in single or team environment
          </p>
        </div>

      </div>
    </section>
  </div>
</section>

{% include footer.html %}