<header>
  {% include nav.html %}

  <section class="hero">
    <div>
      <h1 class="hero__title">Brian Munoz - Front End Web Developer</h1>
      <h2 class="hero__description">
        {{ include.bold-desc }}
        <span class="hero__description--color">{{ include.description }}</span>
      </h2>
    </div>

    <div class="social">
      <div>
        <a href="https://github.com/colorlessenergy">
          {% include github-svg.html %}
        </a>
      </div>
      <div class="contactme">
        <p class="contactme__cta">contact me</p>
        <span class="line"></span>
        <div>
          {% include pen-contact.html %}
        </div>
      </div>
    </div>
  </section>
  <!-- menu for the contact section -->
  <section class="contact">
    <nav class="contact__nav">
      <h2>Brian</h2>

      <p id="contact--back" class="contact__back">Go <span>Back</span></p>
    </nav>
    <div class="contact__contain-form">
      <div class="contact__info">
        <h3 class="contact__title">
          Contact Me
        </h3>
      </div>
      <form class="contact-form" action="https://formspree.io/brianmunozdev.com" method="POST">
        <div>
          <div>
            Hey,
            <label for="name">name</label>
            <input class="contact-form__input" placeholder="name of your company" type="text" id="name" name="name">
            and your email is
            <label for="_replyto">
              <input class="contact-form__input" placeholder="your email" type="email" id="_replyto" name="_replyto">
            </label>
            In the field below you can ask me anything.
          </div>
          <div>
            <label class="contact-form__label" for="message">Message: </label>
            <textarea class="contact-form__textarea" id="message" name="message" rows="8" cols="80" placeholder="message..."></textarea>
          </div>
        </div>
        <input class="contact-form__button" type="submit" value="Send">
      </form>
    </div>
  </section>
</header>