<nav class="nav">
  <h2 class="nav__title">
    <a href="{{ site.baseurl }}/">
      Brian
    </a>
  </h2>
  <ul class="nav__links">
    <li class="nav__list-item">
      <a class="nav__link {% if page.url == '/'' %}nav__link--active{% endif %}" href="{{ site.baseurl }}/">projects</a> <span>03</span>
    </li>
    <li class="nav__list-item">
      <a class="nav__link {% if page.url == '/about/' %}nav__link--active{% endif %}" href="{{ site.baseurl }}/about">about me</a>
    </li>
    <li class="nav__list-item">
      <a class="nav__link {% if page.url == '/notes/' %}nav__link--active{% endif %}" href="{{ site.baseurl }}/notes">notes</a>
    </li>
  </ul>
  {% include mobile-menu-hamburger.html %}
</nav>
<section class="mobile-nav">
  <ul class="mobile-nav__links">
    <li class="mobile-nav__list-item">
      <a class="mobile-nav__link {% if page.url == '/'' %}mobile-nav__link--active{% endif %}" href="{{ site.baseurl }}/">projects</a>
      <span>03</span>
    </li>
    <li class="mobile-nav__list-item">
      <a class="mobile-nav__link {% if page.url == '/about/' %}mobile-nav__link--active{% endif %}" href="{{ site.baseurl }}/about">about
        me</a>
    </li>
    <li class="mobile-nav__list-item">
      <a class="mobile-nav__link {% if page.url == '/notes/' %}mobile-nav__link--active{% endif %}" href="{{ site.baseurl }}/notes">notes</a>
    </li>
  </ul>

  <div class="social--mobile">
    <a href="https://github.com/colorlessenergy">
      {% include github-svg.html %}
    </a>
  </div>
</section>